.header {
  background-color: var(--color3);
  text-align: center;
  padding: calc(var(--col-1) / 2);
}

.main {
  padding: calc(var(--col-1) / 2);
  display: grid;
  gap: 32px;
}

.about-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-card img {
  max-height: 500px;
}

.about-card .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
}

.about-card .content p:first-child {
  font-size: 2rem;
  font-weight: 900;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .about-card {
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: row;
  }
  .about-card > * {
    width: 49%;
  }
  .about-card:nth-child(even) {
    flex-direction: row-reverse;
  }
}
